@import "tailwindcss";

@font-face {
  font-family: Lexend;
  src: url(assets/Lexend-VariableFont_wght.ttf)
}

body {
  font-family: Lexend, sans-serif;
  font-size: 16px;
  color: var(--white);
  --black: #101010;
  --white: #EFF1EE;
  --dark-blue: #3531A0;
  --light-blue: #524BF1;
}

.mobile-size {
  padding: 40px;
  width: 100dvh;
  max-width: 578px;
}

.main {
  @apply min-h-screen flex justify-center items-center;
}

.buttons {
    @apply flex flex-col gap-4 items-stretch;
}

.gradient {
  @apply bg-gradient-to-b from-[var(--black)] from-17% via-[var(--dark-blue)] via-54% via-[var(--light-blue)] via-66% to-[var(--white)] to-100%
}

.title {
  font-size: 32px;
  font-weight: 600;
  display: flex;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
}

.button-black {
  @apply font-bold text-[var(--white)] bg-[var(--black)] py-2 rounded-xl text-center;
}

.button-transparent {
  @apply font-bold text-[var(--black)] py-2 rounded-xl border-1 border-[var(--black)] text-center;

}

.go-back-link {
  @apply flex gap-2 items-center;
}

.form-content {
  @apply relative mt-4;

  & input {
    @apply border-b-2 border-current outline-none;
  }

  & input::placeholder {
    @apply opacity-0 transition-opacity;
  }

  & label {
    @apply pointer-events-none absolute top-0 text-lg transition-all;
  }

  &:has(input:focus) label,
  &:has(input:not(:placeholder-shown)) label {
    @apply top-[-18px] text-base;
  }

  &:has(input:focus) input::placeholder{
    @apply opacity-100;
  }
}


.select {
  @apply flex w-full items-center relative;

  & select {
      all: unset;
      @apply border-b-2 border-current outline-none w-full;
  }

  &:has(select:focus){
    & .arrow {
      @apply scale-y-[-100%];
    }
  }

  & .arrow {
    @apply absolute right-0 scale-y-[100%];
  }
}